name: CI/CP Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: '18'
        cache: 'npm'

    - name: Install dependencies
      run: npm install
    
    - name: Run Build
      run: npm run build --if-present

    - name: Run tests
      run: npm test

  run-automation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Give automation execution permission
        run: chmod +x ./scripts/tests.sh

      - name: Run automation script
        run: ./scripts/tests.sh
  
  deploy:
    name: Deploy service
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Use Node.js 
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-region: sa-east-1
          role-to-assume: arn:aws:iam::476691586756:role/RoleforCDBoletas

      - name: Install dependencies
        run: npm install

      - name: Install Serverless
        run: npm install -g serverless@3

      - name: Deploy service
        run: npx serverless deploy
